@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-family: 'Cera Round';
  font-weight: 700;
  --text-primary: #ef6a80;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-temp: #141418;
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-secondary)
}

body {
  color: black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

p {
  color: var(--text-primary);
}

::-moz-selection {
  background: var(--text-primary);
  color: var(--text-secondary);
}

::selection {
  background: var(--text-primary);
  color: var(--text-secondary);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 100px;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
}