@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth!important;
  font-size: 16px;
  font-family: 'Cera Round';
  font-weight: 700;
  --transition-speed: 600ms;
}

[data-theme='dark'] {
  --primary: #23232e;
    --secondary: #141418;
    --typography: #ececec;
    --bold-typography: #ef6a80;
}

[data-theme='light'] {
  --primary: #E1E7ED;
  --secondary: #C4C9DC;
  --typography: #2F313F;
  --bold-typography: #685FCD;
}

h1 {
  font-weight: 800;
  color: var(--text-primary)
}

body {
  color: black;
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

p {
  color: var(--text-primary);
}

::-moz-selection {
  background: var(--text-secondary);
  color: var(--text-secondary);
}

::selection {
  background: var(--text-primary);
  color: var(--text-secondary);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 100px;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
}