@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

html {
  scroll-behavior: smooth!important;
  font-size: 16px;
  font-family: 'Cera Round';
  font-weight: 700;
  --transition-speed: 600ms;
}

[data-theme='original'] {
  --primary: #23232e;
  --secondary: #141418;
  --typography: #ececec;
  --bold-typography: #ef6a80;
}

[data-theme='blue'] {
  --primary: #1D3461;
  --secondary: #1F487E;
  --typography: #D0DBF1;
  --bold-typography: #436FC7;
}

[data-theme='coffee'] {
  --primary: #4C362F;
  --secondary: #573E38;
  --typography: #EFE8E6;
  --bold-typography: #96705B;
}

[data-theme='jade'] {
  --primary: #2E4D39;
  --secondary: #365942;
  --typography: #dde3e3;
  --bold-typography: #ebb7af;
}

h1 {
  font-weight: 800;
  color: var(--text-primary)
}

section {
  scroll-margin: 2.5rem;
}

body {
  color: black;
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

p {
  color: var(--typography);
}

::-moz-selection {
  background: var(--bold-typography);
  color: var(--bold-typography);
}

::selection {
  background: var(--bold-typography);
  color: var(--typography);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 100px;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
}