.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title, .titleWord2 {
    font-size: 48px;
}

.title {
    display: block;
    color: var(--text-secondary);
}

.titleWord2 {
    color: var(--text-primary);
}

.content {
    padding-left: 15rem;
    padding-top: 5rem;
}
