.about {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.title, .titleWord2 {
    font-size: 48px;
}

.title {
    display: block;
    color: var(--text-secondary);
}

.content {
    margin-left: 15rem;
    padding-top: 5rem;
}
