.section_1 {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 15rem;
}

.intro {
    width: 100%;
    font-size: 48px;
    display: block;
}

.highlight {
    font-weight: 800;
    color: var(--text-secondary);
}

.iconlist {
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 5rem;
}

.icon {
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0.5rem;
    transition: 200ms ease-in-out;
}

.icon svg{
    min-width: 2rem;
}

.icon:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .card {
        margin-left: 0;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        margin-left: 12rem;
    }
}